[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
facenet-pytorch = "*"
pandas = "*"
opencv-python = "*"
setuptools = "*"
wheel = "*"
google-assistant-grpc = "*"
google-auth-oauthlib = "*"
urllib3 = {extras = ["secure"], version = "*"}
sounddevice = "*"
click = "*"
tenacity = "*"
futures = "*"
pathlib = "*"
streamlit = "*"
scipy = "*"
google-cloud-dialogflow = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.9"
